{% extends "bootstrap/base.html" %}
{%- block styles %}
{{super()}}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2@2.0.0/dist/spectrum.min.css">
    <style>
      ul.circle {
        display: block;
        margin: 0 auto;
        list-style-type: none;
        padding: 22px;
        width: 300px;
        height: 300px;
      }

      ul.circle li {
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        background-color: #000;
        color: rgba(128, 128, 128, 0.5);
        position: absolute;
        margin: 0;
        height: 48px;
        width: 48px;
        text-align: center;
        font-size: 2em;
      }

      .range-container {
        display: block;
      }

      .range-container .custom-range {
        width: 85%;
      }

      .range-container output {
        width: 15%;
        text-align: right;
        display: block;
        float: right;
      }

      .sp-replacer {
        display: block;
      }
    </style>
{%- endblock styles %}
{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2@2.0.0/dist/spectrum.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}?{{ randint }}"></script>
{% endblock scripts %}
{% block navbar %}
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">MeshLight Server v1.0</a>
    </nav>
{% endblock navbar %}
{% block content %}
    <main role="main" class="container mt-4">
      <div class="card-deck">
        <div class="card mb-3">
          <div class="card-header">General</div>
          <div class="card-body">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="masterswitch">
              <label class="custom-control-label" for="masterswitch">Enable MeshLights</label>
            </div>
            FPS: <span id="fps">{{ fps }}</span>
            <div class="form-group">
              <label for="mode">Mode (Auto or Single)</label>
              <select class="custom-select" deluminate_imagetype="unknown" id="mode">
                <option selected="">Automatic Mode</option>
              </select>
            </div>
            Max FPS, Number of Spots, Go back to Automatic Mode (on, off)
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">Animation Options (<span id="options-title"></span>)</div>
          <div class="card-body" id="options">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="add_sequence">Add to Sequence</button>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap on sm --></div>
        <div class="card mb-3" style="min-width: 340px;">
          <div class="card-body">
            <ul class="circle"></ul>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Automatic Sequence</div>
        <div class="card-body">
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            NOT IMPLEMENTED! Drag to move sequence positions. Drag outside the area to remove the entry.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <table class="table table-striped table-hover" id="sequence">
            <thead>
              <tr><th style="width: 32px;"></th><th>Animation</th><th>Duration</th><th>Event</th></tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Apply</button>
          <button type="button" class="btn btn-secondary disabled">Revert</button>
        </div>
      </div>
    </main>
{% endblock %}
