{% extends "bootstrap/base.html" %}
{%- block styles %}
{{super()}}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      ul.circle {
        display: block;
        margin: 0 auto;
        list-style-type: none;
        padding: 22px;
        width: 300px;
        height: 300px;
      }

      ul.circle li {
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        background-color: #000;
        color: rgba(128, 128, 128, 0.5);
        position: absolute;
        margin: 0;
        height: 48px;
        width: 48px;
        text-align: center;
        font-size: 2em;
      }
    </style>
{%- endblock styles %}
{% block scripts %}
{{super()}}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
<script type="text/javascript">
  function drawCircle(selector) {
    var total = $(selector).length;
    var alpha = Math.PI * 2 / total;
    var angle = -90;
    angle *= Math.PI / 180;
    var radius = $(selector).parent().width() / 2;

    $(selector).each(function(index) {
      var theta = alpha * index;
      var pointx  =  Math.floor(Math.cos( theta + angle ) * radius) + radius;
      var pointy  = Math.floor(Math.sin( theta + angle ) * radius) + radius;

      $(this).css("margin-left", pointx - $(selector).width()/2 + "px");
      $(this).css("margin-top", pointy - $(selector).height()/2 + "px");
    });
  }
</script>
<script type="text/javascript">
  var circleLength = 0;

  function updateCircles(newLength) {
    while (newLength > circleLength) {
      circleLength += 1;
      $("ul.circle").append($("<li></li>").text(circleLength));
      drawCircle("ul.circle li");
    }
    while (newLength < circleLength) {
      circleLength -= 1;
      $("ul.circle li").last().remove();
      drawCircle("ul.circle li");
    }
  }

/*  $("input#button1").click(function() {
    alert("bup");
  });*/

  function updateFrame() {
    $.get("/api/get_frame").done(function(response) {
      $("#fps").text(response["fps"]);
      updateCircles(response["pixel_count"]);
      var count = Math.min(response["color_data"].length / 3, $("ul.circle li").length);
      for (var i = 0; i < count; i++) {
        $("ul.circle li").eq(i).text(i);
        var r = response["color_data"][i * 3];
        var g = response["color_data"][i * 3 + 1];
        var b = response["color_data"][i * 3 + 2];
        $("ul.circle li").eq(i).css("backgroundColor", "rgb(" + r + "," + g + "," + b + ")");
      }
      setTimeout("updateFrame();", 50);
    }).fail(function() {
      $("ul.circle li").text("?");
      // TODO: implement same as on arduino, fade to black after some time
      setTimeout("updateFrame();", 1000);
    });
  }

  var option_lang={
    "duration": "Duration"
  };

  var sequence_data = null;

  function isEqual(obj1, obj2) {
    return JSON.stringify(obj1) === JSON.stringify(obj2);
  }

  function eventString(e) {
    if (e["type"] == "Always") {
      return e["type"];
    }
    var s = "";
    if (e["until_flag"]) { //TODO
      s = "Until ";
    }
    s += e["type"];
    if (e["params"]) { //TODO
      s += "(" + e["params"].join(", ") + ")"; // maybe extend to support various formats like hours:minutes etc.
    }
    return s;
  }

  function durationString(d) {
    var s = [];
    if (d > 24*60*60) {
      var n = Math.floor(d / (24*60*60));
      s.push(n + (n == 1 ? " Day" : " Days"));
      d = (d % (24*60*60));
    }
    if (d > 60*60) {
      var n = Math.floor(d / (60*60));
      s.push(n + (n == 1 ? " Hour" : " Hours"));
      d = (d % (60*60));
    }
    if (d > 60) {
      var n = Math.floor(d / 60);
      s.push(n + (n == 1 ? " Minute" : " Minutes"));
      d = (d % 60);
    }
    if (d != 0) {
      s.push(d + (d == 1 ? " Second" : " Seconds"));
    }
    if (s.length < 2) {
      return s[0];
    } else {
      s[s.length - 2] += " and " + s.pop();
      //s[s.length - 1] = "and " + s[s.length - 1];
    }
    return s.join(", ");
  }

  function updateData() {
    $.get("/api/get_data").done(function(response) {
      $("#fps").text(response["fps"]);
      if (!isEqual(response["sequence"], sequence_data)) {
        sequence_data = response["sequence"];
        //console.log(sequence_data);
        var rows = $.map(sequence_data, function(row) {
          var active = ("is_active" in row && row["is_active"]);
          if (active)
            $("#animation-options").html(row["animation"]);
          return "<tr><td>" +
            (active ? "<i class='fa fa-arrow-right'></i>" : "") +
            "</td><td>" + row["animation"] + "</td><td>" +
            durationString(row["duration"]) + "</td><td>" +
            eventString(row["event"]) + "</td></tr>";
        });
        $("#sequence tbody").html(rows.join(""));
      }
      setTimeout("updateData();", 1000);
    }).fail(function() {
      // TODO: what to do on fail?
    });
  }

  $(document).ready(function() {
    drawCircle("ul.circle li");
    updateData();
    updateFrame();
    $('input[type="range"]').tooltip().change(function() {
      $(this).prop('data-original-title', $(this).val());
      $(this).prop('title', $(this).val());
      $(this).tooltip('show');
    });
    $('tbody').sortable({
      removeOnSpill: true
    });
  });

  $(window).bind('beforeunload', function(e) {
    if (false) { // TODO
      var message = "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
      e.returnValue = message;
      return message;
    }
  });
</script>
{% endblock scripts %}
{% block navbar %}
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">MeshLight Server v1.0</a>
    </nav>
{% endblock navbar %}
{% block content %}
    <main role="main" class="container mt-4">
      <div class="card-deck">
        <div class="card mb-3">
          <div class="card-header">General</div>
          <div class="card-body">
            FPS: <span id="fps">{{ fps }}</span>
            <div class="form-group">
              <label for="mode">Mode (Auto or Single)</label>
              <select class="custom-select" deluminate_imagetype="unknown" id="mode">
                <option selected="" value="auto">Automatic Mode</option>
                <option value="rgbfader">RGBFader</option>
                <option value="brightnessfader">BrightnessFader</option>
              </select>
            </div>
            Max FPS, Number of Spots
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">Animation Options (RGBFader)</div>
          <div class="card-body" id="animation-options">
            <label for="rgbfader-duration">Circle Duration</label>
            <input type="range" class="custom-range" id="rgbfader-duration" min="1" max="600" data-toggle="tooltip" title="foo">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary">Add to Sequence</button>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap on sm --></div>
        <div class="card mb-3" style="min-width: 340px;">
          <div class="card-body">
            <ul class="circle"></ul>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Automatic Sequence</div>
        <div class="card-body">
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            Drag to move sequence positions. Drag outside the area to remove the entry.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <table class="table table-striped table-hover" id="sequence">
            <thead>
              <tr><th style="width: 32px;"></th><th>Animation</th><th>Duration</th><th>Event</th></tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Apply</button>
          <button type="button" class="btn btn-secondary disabled">Revert</button>
        </div>
      </div>
    </main>
{% endblock %}
